---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import PricingCard from "@components/pricing.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
</Container>
<Container class="mt-8 w-1/2 ml-auto">
<script src="https://widget.senja.io/widget/4027efbf-fd47-41fe-aaff-4d8deff65e28/platform.js" type="text/javascript" async></script>
<div class="senja-embed" data-id="4027efbf-fd47-41fe-aaff-4d8deff65e28" data-mode="shadow" data-lazyload="false" style="display: block;"></div>
  </Container>
</Layout>
