---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import PricingCard from "@components/pricing.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
</Container>
<Container class="flex justify-between items-start space-x-8 mt-18">
  <!-- Left Side Text -->
  <div class="w-1/2">
    <h2 class="text-2xl font-bold">What Our Riders Say</h2>
    <p class="text-lg mt-2 text-gray-600">
      Our riders love sharing their experiences with us! Here are some of their kind words about our service and bike rentals.
    </p>
  </div>

  <!-- Right Side Embed -->
  <div class="w-1/2">
    <script src="https://widget.senja.io/widget/4027efbf-fd47-41fe-aaff-4d8deff65e28/platform.js" type="text/javascript" async></script>
    <div class="senja-embed" data-id="4027efbf-fd47-41fe-aaff-4d8deff65e28" data-mode="shadow" data-lazyload="false" style="display: block;"></div>
  </div>
</Container>
</Layout>
