---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Free drop-off and pick up",
    description:
      "Free bike drop-off and pick-up in downtown Victoria and cruise terminal for a hassle-free rental experience!",
    icon: "bx:bxs-smile",
 style="color: #6701E6;"
  },
  {
    title: "Free helmet and lock",
    description:
      "Every bike rental includes a free helmet and lock, ensuring your safety and peace of mind while exploring!",
    icon: "bx:bxs-lock-alt",
  },
  {
    title: "Ready-to-go itineraries",
    description:
      "Explore Victoria effortlessly with our curated itineraries, featuring must-see destinations and hidden spots only locals know!",
    icon: "bx:trip",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Most affordable bike rentals in Victoria BC
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Here are the all the perks you get from renting a bike from Bikes Victoria.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
