<footer class="my-20">
  <!-- Horizontal Line -->
  <div class="w-full border-t border-gray-300 mb-4"></div>

  <!-- Logo Section -->
  <div class="flex justify-center mb-2">
    <img src="https://bikesvictoria.com/BikesVictoriaLogo.png" alt="Bikes Victoria Logo" class="h-12">
  </div>

  <!-- Text Section -->
  <div class="text-center space-x-1">
    <span class="font-bold text-black">Bikes</span><span class="font-bold text-black">Victoria</span>
  </div>

  <!-- Built with ❤️ Section -->
  <p class="text-center text-xs text-slate-500 mt-1">
    <a
      href="/about"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Built with ❤️ in Victoria BC
    </a>
  </p>
</footer>
