<footer class="my-20">
  <!-- Logo Section -->
  <div class="flex justify-center mb-6">
    <img src="https://bikesvictoria.com/BikesVictoriaLogo.png" alt="Bikes Victoria Logo" class="h-12">
  </div>
   <!-- Text -->
          <span class="font-bold text-black">Bikes</span><span class="font-bold text-black">Victoria</span>
        </a>
        </div>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
  <!-- Copyright Section -->
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Bikes Victoria.
  </p>

  <!-- Built with ❤️ Section -->
  <p class="text-center text-xs text-slate-500 mt-1">
    <a
      href="/about"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Built with ❤️ in Victoria
    </a>
  </p>
</footer>
