import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---
<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
<div class="py-6 md:order-1 md:block opacity-0 animate-fade-in">
    <Picture
      src={heroImage}
      alt="Cheap Bike Rentals in Victoria BC"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="rounded-xl"
    />
  </div>
  <div class="opacity-0 animate-fade-in">
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Rent basic but reliable bikes in Victoria
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Starting at $15 per day with free drop-off and pick-up <wbr /> in downtown Victoria and cruise terminal.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-purple text-white font-bold hover:bg-darkPurple border-2 border-transparent px-6 py-3 rounded text-center"
        rel="noopener"
      >
        Book Now
      </Link>
    </div>
  </div>
</main>
