<section class="bg-purple py-16 w-full">
  <div class="w-full">
    <h2 class="text-3xl font-bold text-white mb-6 text-center">
      "Bikes Victoria is the only budget-friendly bike rental in Victoria. <br /> I did the research, so you don't have to. You're welcome!"
    </h2>
    <p class="text-white max-w-2xl mx-auto mb-12 text-center">
      Thao
    </p>
  </div>
</section>
