---
const phoneNumber = "12368826616";
---

<a
  href={`https://wa.me/${phoneNumber}`}
  class="fixed bottom-4 right-4 bg-green-500 p-4 rounded-full z-50"
  target="_blank"
  rel="noopener noreferrer"
>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="text-white"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M12 0C5.373 0 0 5.373 0 12c0 2.625.846 5.059 2.284 7.034L0 24l5.455-1.764C7.247 23.345 9.546 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0zm0 22c-2.18 0-4.207-.657-5.89-1.785l-3.51.914.936-3.42C2.547 16.087 2 14.113 2 12 2 6.486 6.486 2 12 2s10 4.486 10 10-4.486 10-10 10z"/>
  </svg>
</a>

